$NAV_BACKGROUND: #009B00;
$BACKGROUND: rgba(255, 255, 0 , .24);
$COLOR: #374B40;
$NAV_TEXT: #FFFF00;
$TABLE_BORDER: 1px solid $COLOR;

/* GLOBAL STYLES */
html {
    height: 100%;
    width: 100%;
}
body {
    background: $BACKGROUND;
    color: $COLOR;
    font-family: 'Poppins', sans-serif;
}
/* NAVBAR STYLES */
.navbar {
    font-family: 'Carter One', cursive;
    background-color: $NAV_BACKGROUND;

    > .navbar-brand {
        color: $NAV_TEXT;
    }

    .navbar-nav {
        a:hover {
        color: $NAV_BACKGROUND;
        }
    }
}
/* HERO STYLES */
.hero {
    margin-bottom: 10px;

    img {
        width: 100%;
        height: auto;
    }
}
/* MAIN CONTENT STYLES */
.container {
    width: 100%;
}
.card {
    margin: 15px 0;
    color: $COLOR;

    .list-group > li {
        text-align: center;
    }
}
.table.table-bordered {
    >thead>tr>td {
        border: $TABLE_BORDER;
    }
    >tbody>tr>td {
        border: $TABLE_BORDER;
    }
}
.content {
    margin: 10px auto;
}
/* SOCIAL STYLES*/
.social {
    margin-top: 15px;
    >img {
        display: block;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        border: 15px solid $NAV_BACKGROUND;
    }
    a:link, a:hover, a:visited,a:active {
        text-decoration: none;
    }
    >p {
        margin: 10px 0;
        text-align: center;
    }
    >.links {
            position: relative;
            left: 28%;
            .fab, .far {
            font-size: 1.6rem;
            padding: 15px;
            color: $NAV_TEXT;
            background-color: $NAV_BACKGROUND;
        }
    }
}
/* FOOTER STYLES */
footer {
    background-color: $NAV_BACKGROUND;
    margin-top:10px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 10px solid $NAV_TEXT;

    .copyright {
        color: $NAV_TEXT;
        font-size: 1.25rem;
    }
}
/* WIDGET SUPERCLASS */
%widget {

    border-radius: 5px;
    border: 1px solid $COLOR;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 15%;
    padding-top: 15%;

    a:link, a:hover, a:visited, a:active {
        text-decoration: none;
        color: $COLOR;
    }
}
/* REFERRALS AND REFERRAL STYLES */
.referrals {
    margin: 10px auto;
}
.referral {
    @extend %widget;
    min-width: 200px;

    >a> .fab {
        display: block;
        font-size: 10rem;
    }

    >a >.uzurv {
        display: block;
        text-align: center;
        font-size: 3rem;
    }
}
/* AD STYLES */
.ad {
    @extend %widget;
    min-height: 200px;
}
/* Breakpoint: 700 */
@media only screen and (min-width: 765px) {
    .hero img {
        display: block;
        width: 95%;
        margin: 0 auto 5px auto;
    }
    .social {
        .links {
            left: 30%;
        }
    }
}
