<!doctype html>
<html lang="en">
  <head>
    <title>Your Neighborhood Driver</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Poppins" rel="stylesheet">
  </head>
  <link rel="stylesheet" href="./css/style.css">
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark">
        <a class="navbar-brand" href="/">Your Neighborhood Driver</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./supplies.html">Supplies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./connect.html">Connect</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
            {{ content }}
        </div>
        <div class="col-sm-4 col-xs-8  referrals">
          <div class="referral" id="drive">
            <a href="/drive">Be the Driver in your Neighborhood!<br>Make $225 Guaranteed!
            <i class="fab fa-uber"></i></a>
          </div>
          <div class="referral" id="uzurv">
            <a href="/uzurv">Reserve the Neighborhood Driver with <span class="uzurv">UZURV</span>
            </a>
            <small>Referral Code: 6JK1WOJ1</small>
          </div>
          <div class="referral" id="ride"><a href="/ride">Get a Free Ride with<br> The Neighborhood Driver
          <i class="fab fa-uber"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-8 col-md-4"><div class="ad"><p><a href="">Advertise with Your Neighborhood Driver</a>  </p></div>
          </div>
          <div class="col-sm-8 col-md-4"><div class="ad"><p><a href="">Advertise with Your Neighborhood Driver</a>  </p></div>
          </div>
          <div class="col-sm-8 col-md-4"><div class="ad"><p><a href="">Advertise with Your Neighborhood Driver</a>  </p></div>
          </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <span class="copyright">&copy;2018 Leigh Michael Forrest</span>
      </div>
    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
